<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preoyecto2</title>
</head>
<h1>Titulo1</h1>

<body>
    <header><img src="./img/logo-mercado-liebre.svg" alt="logo MercadoLiebre">
        <p>Lugar para poner barra de busqueda</p>
        <br>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <br>
        <ul>
            <li><a href="http://localhost:3000" >Ofertas</a></li>
            <li><a href="http://localhost:3000" >Tiendas Oficiales</a></li>
            <li><a href="http://localhost:3000" >Vender</a></li>
            <li><a href="http://localhost:3000" >Ayuda</a></li>
            <br>
            <li><a href="http://localhost:3000" >Creá tu cuenta</a></li>
            <li><a href="http://localhost:3000" >Ingresá</a></li>
            <li><a href="http://localhost:3000" >Mis compras</a></li>
            

        </ul>

    </header>
    <main>
        <h5>Sección: Basado en tu última visita</h5>
        <img src="./img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <ul>
            <li>$6.770</li>
            <li>40% OFF</li>
            <h4>Cafetera Moulinex</h4>
        </ul>
    </main>
    <footer></footer>
</body>

</html>